#emailPassFields, #userInfoFields, #profileInfo {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
div {
    padding-top: 8px;
    padding-bottom: 8px;
}
.switch:hover {
    color: #0a4732;
    text-decoration: underline;
}